/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common style */

body{
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;

}

main{
    display: flex;
 justify-content: center;
}
.Top-container{
    background: white;
    width: 870px;
    padding: 30px;
}
.Player-name{
    font-weight: 500;
font-size: 24px;
line-height: 36px;
color: #562EFF;
margin-top: 3px;

}
/* top player style */

.Top-Player{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;

}
.player img{ 
width: 56px;
height: 56px;
}
.name{
    padding-left: 16px;
    font-size: 18px;

}
hr{
    border: 1px solid #D1D1D1;
    margin-top: 30px;
}

/* ---------top blog style --------*/
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 660px;
}
h2{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #562EFF;
}
.blog img{
width: 177px;
height: 117px;
padding-bottom: 26px;
padding-right: 13px;
}
.blog .thumbnail{
    display: flex;
    width: 400px;
}

.blog-info .blog-title{
    font-weight: 500;
font-size: 20px;
}